<nav class="navbar navbar-expand-lg {{site.data.navigation.global-en.class}}{%if site.data.navigation.global-en.fixed %} fixed-top{% endif %}{%if site.data.navigation.global-en.absolute %} navbar-absolute{% endif %}{%if site.data.navigation.global-en.sticky %} sticky-top{% endif %}{%if site.data.navigation.global-en.transparent%} navbar-transparent{% endif %} {{site.data.navigation.global-en.background-color}}" data-spy="affix" data-offset-top="60">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{site.data.navigation.global-en.navbrand.src}}">
                {%if site.data.navigation.global-en.navbrand.src %}
                <img src="{{site.data.navigation.global-en.navbrand.src}}" alt="{{site.data.navigation.global-en.navbrand.alt}}">
                {% endif %}
                {%if site.data.navigation.global-en.navbrand.text %}
                {{site.data.navigation.global-en.navbrand.text}}
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="collapsibleMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleMenu">
            <div class="navbar-header d-lg-none p-4 pt-5 position-relative text-uppercase">
                Navigate to
            </div>
            <ul class="navbar-nav {%if site.data.navigation.global-en.navlink-align == 'center' %}mx-auto{% endif %}{%if site.data.navigation.global-en.navlink-align == 'right'%}ml-auto{% endif %}">
                {% for nav in site.data.navigation.global-en.navlinks %}
                {% unless nav.subitems %}
                <li class="nav-item">
                    <a class="nav-link" data-js="scroll" href="{{ nav.href }}">
                        {{ nav.text }}
                    </a>
                </li>
                {% endunless %}
                {% if nav.subitems %}
                <li class="nav-item dropdown"> 
                    <a href="{{ nav.href }}" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-expanded="false">
                        <i class="now-ui-icons design_app"></i>
                        <span>{{ nav.text }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                        {% for item in nav.subitems %}
                        <a class="dropdown-item" href="{{item.href}}">
                            <i class="now-ui-icons business_chart-pie-36"></i> {{ item.text }}
                        </a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                <li class="nav-item">
                    {%- for item in site.data.navigation.global-en.navlinks -%}
                    {%- if page.url == item.href -%}
                        <a class="nav-link" href="{{ item.switch }}">Spanish</a>
                    {%- elsif item.subitems -%}
                        {%- for subitem in item.subitems -%}
                        {%- if page.url == subitem.href -%}
                        <a class="nav-link" href="{{ subitem.switch }}">Spanish</a>
                        {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                    {%- endfor -%}
                </li>
            </ul>
            {% if site.data.navigation.global-en.showsocial %}
            <ul class="nav navbar-nav navbar-social">
                {% for social in site.social %}
                <li class="nav-item">
                <a class="nav-link {{ social.class }}" href="{{ social.href}}" aria-label="{{ social.class }}" rel="noopener">
                    <i class="fi {{ social.icon}}"></i>
                </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>