<title>{{meta-data.meta-title}}</title>
<meta name="description" content="{{meta-data.meta-description}}" />
<link rel="icon" type="image/png" href="/assets/img/icon/icon-32x32.png">
<link rel="manifest" href="/manifest.json">
<script>WebFontConfig = {google: {families: [{% for meta-data.google-fonts}}'{{ this }}',{% endfor %}]}};
(function(d) {var wf = d.createElement('script'), s = d.scripts[0];wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';wf.async = true;s.parentNode.insertBefore(wf, s);})(document);
</script>