---
data:
    id: ""
    navbrand:
        href: '/'
        title: 'title'
        text: ''
        src: '/assets/img/logo.png'
        alt: 'Logo'
    transparent: true
    fixed: false
    sticky: false
    absolute: true
    background-color: 'bg-dark'
    navlink-align: 'right' 
    # navlink-align: 'left' 
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="{{ site.theme-color }}">
    <link rel="preload" href="/assets/fonts/Flaticon.woff " as="font">
    {% include seo/meta.html metas=page.metas %}
    <link rel="preload" href="/assets/css/styles.css " as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/assets/css/styles.css"></noscript>
    {% include seo/json-ld.html metas=page.metas %}
    <style>.bm-loader{position:fixed;background-color:black;top:0;right:0;bottom:0;left:0;z-index:1080;display:flex;justify-content:center;align-items:center;}</style>
</head>
<body>
    <div class="bm-loader">
        <img src="/assets/img/bm.svg" alt="Bizmarketing.us esta cargando...">
    </div>
    {% include navigation/navigation-es.html%}
    <div class="wrapper">
        {{ content }}
    </div>
    <script src="/assets/js/app.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js').then(registration => {
                console.log('SW registered: ', registration);
            }).catch(registrationError => {
                console.log('SW registration failed: ', registrationError);
            });
            });
        }
    </script>
</body>
</html>